
{% extends "layout.html" %}
{% block body %}
<div class="jumbotron text-center" xmlns="http://www.w3.org/1999/html">

  <div class="container">
    <h1 align="center">⚠️ </h1>
    <h1>Oops, Something Went Wrong </h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
    </div>
  </div>
  <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12"> <a href="/" class="btn btn-sm animated-button victoria-two">Home🏠</a>
            </div>
  </div>
</div>
{% endblock %}